.banner {
  background: url("./images/bck1.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: purple;
  height: 100vh;
}
.fa-5x {
  width: 150px;
  height: 150px;
}
.fw-light {
  font-size: 62px;
}
.portfolio-cls {
  width: 75%;
  align-items: center;
  justify-content: center;
}
.card {
  max-width: 350px;
}
.image-div {
  background-image: url(./images/fs1.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.yigit {
  border: 15px solid rgb(177, 177, 177);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}
.yigit p {
  font-size: 5rem !important;
}
.links {
  cursor: pointer;
  font-size: 3rem;
}
.col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-bg {
  /* background-image: url(./images/datascience.jpg);
  background-repeat: no-repeat; */
}
.myinput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  width: 90%;
  height: 50px;
}
.textArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
textarea {
  width: 90%;
  height: 100%;
}
