.banner {
  background: url("./images/bck1.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: purple;
  height: 100vh;
}
.fa-5x {
  width: 150px;
  height: 150px;
}
.fw-light {
  font-size: 62px;
}
.portfolio-cls {
  width: 75%;
  align-items: center;
  justify-content: center;
}
.bg-light {
  height: 100vh;
}
.card {
  max-width: 350px;
}
